/**/
/* transparent box */
div#transbox{
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
	background-image:url(images/background-nike.gif);
	background-position:center;
	background-repeat:no-repeat;
	font-size:16px;
	/* for IE */
    filter:alpha(opacity=40);
	/* CSS3 standard */
    opacity:0.4;
	height: 250px;
}
